@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    font-family: 'Chakra Petch', sans-serif;  
}

html {
    scroll-behavior: smooth;
}

/* Header styles */

.logo {
    cursor: pointer;
    height: 100px;
    width: 290px;
    
}

li, a, button {
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    list-style-type: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 20px 15px;
    position: fixed;
    width: 100%;
    
}


.header-nav-ul {
    margin-right: 190px;
}

.header-nav-ul li {
    display: inline-block;
    padding: 0px 20px;
}

.header-nav-ul li a {
    transition: all 0.3s ease 0s;
}

.header-nav-ul li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgb(45, 0, 169);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgb(69, 26, 188);
}

/* Main content styles */

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}

.main-container-h1-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    flex-wrap: wrap;
    max-width: 800px;
}

.main-container-h1-p h1 {
    font-size: 58px;
}

.main-container-h1-p p {
    font-size: 19.4px;
}

.social-media {
    display: flex;
    gap: 15px;
    padding-bottom: 15px;
}

.social-media i {
    font-size: 30px; 
}

.social-media i {
    transition: all 0.3s ease 0s;
}

.social-media i:hover {
    color: #0088a9;
}

/* Sections content styles */

section {
    height: 100vh;
}

section[id] {
    scroll-margin-top: 160px;
}

.about-me {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.about-me-image {
    border-radius: 20px;
    height: 295.5px;
    width: 230px;
}

.about-me-flex{
   display: flex;
   align-items: flex-start;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
   width: 400px;
   color: white;
   
}

.about-me-flex h2 {
    color: #434be7;
}

.about-me-flex h3 {
    
}